---
title: Home
page1: active
---

<div id="preloader">
    <div id="status" class="spinner"></div>
</div>

<div class="section slider main-slider">
    <div class="skin-pattern"></div>
    <div class="slider-image"></div>
    
    <div class="container slider-container">
        <div class="slider-caption">
            <h1 class="slider-title">SAFETY</h1>
            <h1 class="slider-title">COMFORT</h1>
            <h1 class="slider-title">FUNCTIONALITY</h1>
            <div class="slider-content">
                <p>Lorem ipsum dolor sit amet, consctetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
        </div>
        <div class="smart-object smart-object--lright">
            <img src="placeholders/banner-c.png" alt="">
        </div>
    </div>
</div>

<div class="section section--copy">
    <div class="container l-container copy">
        <h1 class="section-title">Crescent Healthcare has been established for over 30 years as an Australian owned and operated family business.</h1>
        <div class="section-content">
            <p>The unique tradition, offering you innovative, proven, premium, healthcare equipment solutions, along with our culture of care, coupled with a team motivated with many years' experience within the healthcare and aged-care industries, enables us to offer you an unparalleled service, ensuring you experience…just that extra mile... extra service... and extra care</p>
            <a href="#" class="btn-link">Read More</a>
        </div>
    </div>
</div>

{{>product-carousel}}
{{>product-featured}}