<footer class="t-footer">
    <div class="t-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget widget--brand">
                        <a href="index.html">
                            <img src="images/brand-footer.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget">
                        <h3 class="h5 widget-title">About Crescent Healthcare</h3>
                        <ul class="widget-core list-spread">
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Our Unique Service</a></li>
                            <li><a href="#">Hire</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget">
                        <h3 class="h5 widget-title">Online Enquiry</h3>
                        <ul class="widget-core list-spread">
                            <li><a href="#">F.A.Q.'s</a></li>
                            <li><a href="#">Delivery & Returns</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Payment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="group group--widget">
                        <div class="widget">
                            <h3 class="h5 widget-title">Follow Us</h3>
                            <ul class="widget-core social">
                                
                            </ul>
                        </div>
                        <div class="widget">
                            <h3 class="h5 widget-title">Sign Up for our Newsletter</h3>
                            <div class="widget-core social">
                                <form action="" class="form">
                                    <input type="email" class="form-control" placeholder="Email address">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="t-footer-bottom">
        <div class="container">
            <div class="copyright">
                Copyright © 2014 CRESCENT HEALTHCARE. All rights reserved.
            </div>
            <nav class="navbar-secondary">
                <ul class="list-inline">
                    <li><a href="#">Privacy Policy</a></li>
                    <li>/</li>
                    <li><a href="#">Terms of Use</a></li>
                    <li>/</li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>