<header class="navbar navbar-static-top navbar-inverse" id="top" role="banner">
    <div class="container">
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Hire</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Enquiry Cart <span class="js-cart-views">$0.00</span></a></li>
            </ul>
        </nav>
    </div>
</header>
<header class="t-header">
    <div class="container">
        <div class="pull-left">
            <a href="index.html" class="branding">Crescent Healthcare</a>
        </div>
        <div class="pull-right">
            <div class="contact-define">
                1300 04 05 06
            </div>
            <form action="" class="form search-form">
                <input type="text" class="form-control" placeholder="Search Entire Store..">
            </form>
        </div>
    </div>
</header>
<div class="container l-container">
    <nav role="navigation" class="navbar-main">
        <ul class="nav navbar-nav">
            <li><a href="#">Bath Shower Toilet</a></li>
            <li class="dropdown-submenu">
                <a href="#">Bedroom Equipment</a>
                <div class="dropdown-menu">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Hospital Equipment</h3>
                            <ul>
                                <li><a href="#">Action</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>Featured</h3>
                        </div>
                    </div>
                </div>
            </li>
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle">Daily Living</a>
                <div class="dropdown-menu">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Hospital Equipment</h3>
                            <ul>
                                <li><a href="#">Action</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3>Featured</h3>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="#">Hospital Equipment</a></li>
            <li><a href="#">Mobility</a></li>
            <li><a href="#">Patient Handling</a></li>
            <li><a href="#">Pressure Care</a></li>
            <li><a href="#">Seating</a></li>
        </ul>
    </nav>
</div>