<div class="section--carousel">
    <div class="container">
                
        <div class="row">
            <div id="owl-demo" class="owl-carousel">
                <div class="panel panel-default block">
                    <a href="#">
                        <img src="images/product1.jpg" />
                        <h3 class="panel-heading block-title">Bath Shower Toilet</h3>
                    </a>
                </div>
                <div class="panel panel-default block">
                    <a href="#">
                        <img src="images/product2.jpg" />
                        <h3 class="panel-heading block-title">Bedroom Equipment</h3>
                    </a>
                </div>
                <div class="panel panel-default block">
                    <a href="#">
                        <img src="images/product3.jpg" />
                        <h3 class="panel-heading block-title">Daily Living</h3>
                    </a>
                </div>
                <div class="panel panel-default block">
                    <a href="#">
                        <img src="images/product4.jpg" />
                        <h3 class="panel-heading block-title">Hospital Equipment</h3>
                    </a>
                </div>
                <div class="panel panel-default block">
                    <a href="#">
                        <img src="images/product1.jpg" />
                        <h3 class="panel-heading block-title">Bath Shower Toilet</h3>
                    </a>
                </div>
                <div class="panel panel-default block">
                    <a href="#">
                        <img src="images/product2.jpg" />
                        <h3 class="panel-heading block-title">Bedroom Equipment</h3>
                    </a>
                </div>
                <div class="panel panel-default block">
                    <a href="#">
                        <img src="images/product3.jpg" />
                        <h3 class="panel-heading block-title">Daily Living</h3>
                    </a>
                </div>
                <div class="panel panel-default block">
                    <a href="#">
                        <img src="images/product4.jpg" />
                        <h3 class="panel-heading block-title">Hospital Equipment</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>