<div class="section section--featured">
    <div class="container">
        <h2 class="section-title">
            <span>What's New</span>
        </h2>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default block block--bordered">
                    <a href="#">
                        <img src="images/product5.jpg" />
                        <h3 class="panel-heading block-title">
                            Weigh Chair
                            <span class="block-code">CR2044</span>
                        </h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default block block--bordered">
                    <a href="#">
                        <img src="images/product6.jpg" />
                        <h3 class="panel-heading block-title">
                            Weigh Chair
                            <span class="block-code">CR2044</span>
                        </h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default block block--bordered">
                    <a href="#">
                        <img src="images/product7.jpg" />
                        <h3 class="panel-heading block-title">
                            Weigh Chair
                            <span class="block-code">CR2044</span>
                        </h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default block block--bordered">
                    <a href="#">
                        <img src="images/product8.jpg" />
                        <h3 class="panel-heading block-title">
                            Weigh Chair
                            <span class="block-code">CR2044</span>
                        </h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>